#principal
	{
	position:absolute;
	width: 450px;
	height: 450px;
	background-color: black;
	left: 50%;
 	top: 50%;
 	margin-left: -275px;
 	margin-top: -275px; 
	}
	button
	{
		height: 150px;
		width: 150px;
		float: left;
		background-color:black;
		font-size: 100px;
		color: white;
	}
	.click{
 background-color: #3a5795;
}