	#banner
	{
	background-color: white;
    min-height: 200px;
    min-width: 1300px;
    padding: 0px;   
	
	}
	#a
	{
		min-height: 100px;
		min-width: 800px;
		background-color: #30D5B7;
		margin-left: auto;
		margin-right: auto;
		margin: 70px;
	}

	#txt
	{
		color: #09607F;
		font-size: 20px;
		margin-right: 60px;
	}
	#txt1
	{
		color: #072935;
		font-size: 20px;
		margin-right: 60px;
	}
	#login
	{
		width: 500px;
		height: 77px;
	}

	#txt2
	{
		color: #239082;
		font-size: 20px;
		margin-right: 60px;	
	}
	#enca
	{
		width: 500px;
		height: 80px;
		margin: 100px;
		margin-right: 70px;
		color: orange;
		font-size: 60px;
		

	}
	#imagen
	{
		height: 100px;
		width: 200px;
	}
	
	#contenido
	{
		min-height: 800px;
		width: 1000px;
		background-color:#9DC2F4;
		font-size: 14px;
		color: #154FB2;
		margin: 0 auto;
		-webkit-box-shadow: 9px -2px 13px 9px rgba(0,0,0,0.68);
		-moz-box-shadow: 9px -2px 13px 9px rgba(0,0,0,0.68);
		box-shadow: 9px -2px 13px 9px rgba(0,0,0,0.68);
	}
	#container 
	{
	width: 500px;
	margin: 0 auto;	
	font-size: 20px;
	font-family: "Candara";
	}
	.ex2 img
	{
	height: 100px;
	width: 200px;
	margin: 15px ;
	margin-right: auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;

	}
	.ex2 img:hover {
	height: 200px;
	width: 200px;
	margin-left: 50px;

	}
	#texto
	{
		min-width: 600px;
		min-height: 600px;
	}
	#video
	{
		width: 600px;
		height: 600px;
		margin: 0 auto;
	}
	#boton
	{
		height: 25px;
		width: 60px;
		background-color: #229BC7;
		color: white;
	}